<% provide(:title, 'About Us') %>
<h1>About Tinder Stories</h1>
<p>Lorem ipsum Officia aliqua exercitation tempor incididunt Ut nulla adipisicing occaecat. Lorem ipsum Ut esse cupidatat ut aliqua ea Ut consectetur commodo do. Lorem ipsum In laborum cillum sint ex dolor eu sed proident nisi Ut do. Lorem ipsum Ut cupidatat ullamco culpa veniam commodo est. Lorem ipsum Exercitation Duis ex consequat fugiat sed non sunt enim irure. Lorem ipsum Qui proident sit exercitation et quis incididunt aliqua commodo magna ut.</p>
  