<div class="center hero-unit">
  <h1>Tinder Stories</h1>

  <h2>A place to share your tinder stories with the world.</h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>

</div>


  