<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>
<p>Lorem ipsum Sunt eu commodo non dolor magna incididunt ea dolor. Lorem ipsum Deserunt anim et qui non aute proident. Lorem ipsum Irure ut minim nostrud dolore sit dolor tempor ut pariatur ad. Lorem ipsum Cillum ad cupidatat et voluptate voluptate nulla ullamco in elit tempor.</p>
